#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #f2e2ae;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@keyframes fade { 
  from { opacity: 0.5; } 
}
.blinking-marker {
  animation: fade 1s infinite alternate;
}

.leaflet-control-container .leaflet-routing-container-hide {
  display: none;
}

/* Add dark theme to map */
/* .leaflet-layer, */
/* .leaflet-control-zoom-in, */
/* .leaflet-control-zoom-out, */
/* .leaflet-control-attribution {
  filter: invert(80%) hue-rotate(180deg) brightness(90%) contrast(90%);
} */

/* Add light brown theme to map */
.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: sepia(55%) brightness(90%) contrast(90%) saturate(100%) hue-rotate(10deg);
  background-color: #D2B48C;
}